<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.browser"
	android:versionCode="2"
	android:versionName="2.0">
	
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="20"/>
		
	<application android:label="BrowserShortcut" android:icon="@android:color/holo_green_dark" android:allowBackup="false">
		<activity android:name="BrowserActivity" android:excludeFromRecents="true" android:theme="@android:style/Theme.NoDisplay"/>
	</application>
</manifest>
